nav li{
    display: block;
    float: left;
    margin:3px;
    padding: 5px 10px;
    background-color: rgb(226, 226, 158) ;
}

nav ul{
    margin: 0px;
    list-style: none;

}

nav{
    background-color:rgb(185, 185, 126) ;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:link{
    color: white;
    decoration: none;
}

nav a:visited{
    color: white;
    decoration: none;

}

nav a:hover{
    color: rgb(145, 130, 27);


}

nav a:active{
    color: white;
    font-size: bold;

}

.clear-float{
    clear: both;
}

.accordeon div{
    border:1px solid rgb(145, 130, 27);

}



.accordeon .text{
    max-height: 0px;
    overflow: hidden;
}

.info:hover .text{
    max-height: 200px;
    overflow:auto;
    transition-duration: 1s;
}

.accordeon .info{
    background-color: rgb(145, 130, 27);
}

.accordeon .info:first-child{
    background-color: rgb(86, 86, 189);
}

.accordeon .info:last-child{
    background-color: rgb(242, 138, 138);
}

.accordeon .info:nth-child(2n+1){
    background-color: rgb(217, 49, 127);}

li:first-of-type{
    background-color: rgb(41, 22, 112);
}

li:last-of-type{
    background-color: rgb(112, 22, 22);
}

nav div:only-of-type{
    border: 1px solid rgb(233, 17, 17);
}



